/*general*/
body {
    font-family: 'Sniglet', cursive;
}

li>a, li>a:active, li>a:visited {
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
}

/*navbar*/
nav.navbar {
    width: 100%;
    background-color: #fff;
    border: none;
    margin: 0;
}

.navbar-default .navbar-nav.navbar-right {
    background-color: #2C4251;
}

.navbar-header {
    padding: 1.5rem;
}

.navbar-brand {
    font-size: 2.5rem;
}

i.fas.fa-campground {
   color: #f5af55; 
   padding: 0 .5rem;
}

.navbar-nav>li {
    padding: 1.5rem;
    color: #fff;
}

.navbar-nav>li:hover {
    background-color: #4a5b67;
}

.navbar-default .navbar-nav>.nav-item>.nav-link {
    color: #fff;
}

.navbar-default .navbar-nav>li.user-login {
    background-color: #2C4251;
}

.navbar-default .navbar-nav>li.user-login>a {
    background-color: #EAF0CE;
}
/*jumbotron*/
.jumbotron {
    background-color: #d8da9f;
}

.jumbotron p {
    font-family: 'Ubuntu', sans-serif;
}

.btn.btn-primary {
    border: none;
    padding: 1rem 2rem;
    background-color: #2C4251;
    font-family: 'Ubuntu', sans-serif;
}

.btn.btn-primary:hover {
    padding: 1rem 2rem;
    background-color: #4a5b67;
}

div.container-fluid {
    padding: 0 0 0 3.5rem;
}

/*thumbnail*/
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 10px;
}

.delete-form {
    display: inline;
}

/*footer*/
footer div.container {
    display: flex;
}

