/*general*/
body {
    font-family: 'Sniglet', cursive;
}

li {
    list-style: none;
}

h4 {
    font-weight: bold;
}

h5 {
    margin-bottom: 3rem;
}

a, a:active, a:visited {
    color: #fff;
    font-size: 1.5rem;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

/*navbar*/
nav.navbar {
    width: 100%;
    background-color: #fff;
    border: none;
    margin: 0;
}

.navbar-default .navbar-nav.navbar-right {
    background-color: #2C4251;
}

.navbar-header {
    padding: 1.5rem;
}

.navbar-brand {
    font-size: 2.5rem;
}

i.fas.fa-campground {
   color: #f5af55; 
   padding: 0 .5rem;
}

.navbar-nav>li {
    padding: 1.5rem;
    color: #fff;
}

.navbar-nav>li:hover {
    background-color: #4a5b67;
}

.navbar-default .navbar-nav>.nav-item>.nav-link {
    color: #fff;
}

.navbar-default .navbar-nav>li.user-login {
    background-color: #2C4251;
}

.navbar-default .navbar-nav>li.user-login>a {
    background-color: #EAF0CE;
}
/*jumbotron*/
.jumbotron {
    background-color: #c1d0bf;
    text-align: center;
    padding-top: 7rem;
}

.jumbotron p {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 4rem;
}

.btn.btn-primary {
    border: none;
    padding: 1rem 2rem;
    background-color: #2C4251;
    font-family: 'Ubuntu', sans-serif;
}

.btn.btn-primary:hover {
    padding: 1rem 2rem;
    background-color: #4a5b67;
}

div.container-fluid {
    padding: 0 0 0 3.5rem;
}

/*thumbnail*/
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 10px;
}

.delete-form {
    display: inline;
}

/*footer*/
footer {
    color: #fff;
    background-color: #2C4251;
    font-family: 'Nunito', sans-serif;
    padding: 6rem .5rem 4rem;
}

footer a:hover {
    color: #9c9c9c;
}
footer div.container {
    display: flex;
}

.footer-block {
      flex: 1 1 0;
      text-align: center;
}

footer div.container.footer-1 {
    display: flex;
    flex-direction: column;
}

.footer-brand {
    font-family: 'Sniglet', cursive;
}

.footer-sitemap {
    padding: 0;
}

li.footer-item {
    margin: 1.5rem;
}

a.footer-link {
    padding: .6rem;
    transition: all .2s;
}

.btn-group .footer-btn {
    padding: 1.5rem;
    border-radius: 50%;
    display: inline-block;
    margin: .3rem;
    transition: all .2s;
}

.btn-group .footer-btn .footer-icon {
    color: #fff;
}

.btn-group .footer-btn.twitter {
    background-color: #1da1f2;
}

.btn-group .footer-btn.facebook {
    background-color: #3b5998;
}

.btn-group .footer-btn.instagram {
    background-color: #c13584;
}

.btn-group .footer-btn.pinterest {
    background-color: #bd081c;
}

.btn-group .footer-btn:hover {
    background-color: #a2a2a2;
}

.app-btn {
    border: solid 2px #fff;
    padding: 1rem;
    margin: .5rem;
}