<% include ./partials/header %>

<div class="about">
    <div class="about-header" style="background-image:url(/image/about-header.jpg)">
        <h1 class="about-header h1">Making it easier to get outside</h1>
    </div>
    <div></div>
    <div></div>
    <div></div>
</div>

<% include ./partials/footer %>