<% include ./partials/header %>

<div class="about">
    <div class="about-header" style="background-image:url(/image/about-header.jpg)">
        <h1 class="about-header h1">Making it easier to get outside</h1>
    </div>
    <div class="about-us">
        <div class="about-item about-info">
            <div class="about-content">
                <div class="about-logo"><i class="fas fa-campground"></i>YelpCamp</div>
                <p>YelpCamp team is probably not too different from you. We love to camp, travel, and do fun things outside.</p>

                <p>But we grew frustrated searching online for info on campgrounds and outdoor adventures. “Phone a friend” is usually the key for solid recommendations, except when you don’t have a friend where you’re trying to go.</p>

                <p>Looking at review platforms like Yelp or TripAdvisor, we thought: Why can’t this exist for the outdoors?</p>

                <p>So, we assembled a team of outdoor enthusiasts with years of experience in the software and marketing worlds to make it happen.</p>

                <p>Hence YelpCamp was born. A place where anyone can share their campsite stories and learn from others across the country.</p>
                
                <p>YelpCamp is now the fastest growing camping app on web and mobile, with new features being rolled out regularly. We couldn’t have this incredible trajectory without you, the dedicated outdoor enthusiasts who come out in droves seeking a solution to the same problem that inspired us to create YelpCamp.</p>
            </div>
            <div class="founder">
                <img src="/image/founder-image.jpg">
                <div class="founder-info">
                    <h4>Diana Bryant</h4>
                    <h4>Founder of YelpCamp</h4>
                </div>
            </div>
        </div>
        <div class="about-item about-contact">
            <div class="contact-app">
                <h3>Join our community!</h3>
                <p>If you love the outdoors, discovering ideal spots to pitch your tent, and being part of a rich and active community, then join us.</p>
                <div class="contact-btn-group">
                     <a class="app-btn apple" href="https://www.apple.com/ios/app-store/"><i class="app-icon fab fa-app-store fa-lg"></i>App Store</a>
                    <a class="app-btn android" href="https://play.google.com/store/apps?hl=en_US"><i class="app-icon fab fa-google-play fa-lg"></i>Google Play</a>
                </div>
            </div>
            <div class="contact-work">
                <h3>Work with us!</h3>
                <p>Product reviews, sweepstakes and contest partnerships, marketing opportunities - there are lots of ways to work with YelpCamp and get in front of the camping world.</p>
                <a class="contact-email"><i class="far fa-envelope"></i>   info@yelpcamp.com</a>
            </div>
        </div>
    </div>
    <div class="testimonials"></div>
    <div class="campsites"></div>
</div>

<% include ./partials/footer %>