        <footer class="footer">
            <div class="container">
                <div class="footer-block footer-1">
                    <h3 class="footer-brand"><i class="fas fa-campground"></i>YelpCamp</h3>
                    <p>A better way to search & review for campgrounds</p>
                </div>
                <div class="footer-block footer-2">
                    <h4>Sitemap</h4>
                    <ul class="footer-sitemap">
                        <li class="footer-item"><a class="footer-link" href="/campgrounds">Home</a></li>
                        <li class="nav-item"><a class="footer-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="footer-link" href="/contact">Contact us</a></li>
                    </ul>
                </div>
                <div class="footer-block footer-3">
                    <div class="btn-group">
                        <a class="footer-btn twitter" href="https://twitter.com/"><i class="footer-icon fab fa-twitter"></i></a>
                        <a class="footer-btn facebook" href="https://facebook.com/"><i class="footer-icon fab fa-facebook"></i></a>
                        <a class="footer-btn instagram" href="https://instagram.com/"><i class="footer-icon fab fa-instagram"></i></a>
                        <a class="footer-btn pinterest" href="https://pinterest.com/"><i class="footer-icon fab fa-pinterest"></i></a>
                    </div>
                    <h5>Download Our Free App!</h5>
                    <a class="app-btn apple"><i class="fab fa-app-store"></i>App Store</a>
                    <a class="app-btn android"><i class="fab fa-google-play"></i>Google Play</a>
                </div>
            </div>
        </footer>
    </body>
</html>