        <footer class="footer">
            <div class="container">
                <div>
                    footer block1 
                </div>
                <div>
                    footer block2
                </div>
                <div>
                    footer block3
                </div>
            </div>
        </footer>
    </body>
</html>